@tailwind base;
@tailwind components;
@tailwind utilities;

.customTooltipTheme {
  color: #fff !important;
  background-color: #000 !important;
  opacity: 1;
  &.place-top {
    &:after {
      border-top-color: #000 !important;
      border-top-style: #000 !important;
      border-top-width: #000 !important;
    }
  }
}
